body {
    background-size: 100vw;
    background-image: url('../img/SignupBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}
.needs-validation{
    opacity: 80%;
 }
.form-control{
    font-weight: bold;
}
.btn{
    background-color: var(--bs-orange);
}